.header{
    background-color: #006636bb;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.header a{
    text-decoration: none;
    color: white;
    margin-left: 50px;
    font-size: 18px;
}
a:hover{
    /* background-color:; */
    color:  #d62828;
}
.logo {
    font-size: 32px;
    font-weight: bold;
    word-spacing: 16px;
    color: white;
}
.logo-color{
    color: #d62828;
}

